@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    /* display: none; */
    scrollbar-width: 1px;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: 1px; /* Firefox */
  }
}
